p{
    font-size: 10px;
    color: brown;
}
h1{
    color: blue; text-decoration: overline underlineq;
}
h4{
    color: rgb(0, 0, 0);
}
img{
    width: 200px;
    height: auto;
} class{
    width: 500px;
    height: auto;
} 
p {
    font-size: 20px
}
ul{list-style: square;
    }


